.user-message, .bot-message {
    display: flex;
    align-items: flex-start;
  }
  
  .message-bubble {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    max-width: auto;
    border-color: white;
  }
  
  .message-avatar,.message-bot{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 10px;
    
  }
  .message-bot {
    background-color: rgb(171, 104, 255);
  }
  .message-avatar {
    background-color: red;
  }

  .message-sender {
    font-weight: bold;
    color:white
  }
  

  